<section class="page-heading">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-md-12">
        <h1>Our Events</h1>
        <p>You can feel free to use our template for any purpose of your websites. Thank you. Template re-distribution is <strong>not allowed</strong> in any download site.</p>
      </div>
    </div>
  </div>
</section>
<div class="tabs">
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="margin: 16px auto">
        <ul class="flex-column">
          <li class="nav-item" *ngFor="let tab of tabs; let i = index" (click)="onSelect(i)">
            <a class="nav-link active" [ngClass]="{highlight: i == selectedIndex}">{{ tab }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10"><router-outlet></router-outlet></div>
    </div>
  </div>
</div>
<section class="sign-up">
  <app-sign-up></app-sign-up>
</section>
