.active {
  outline: none;
  box-shadow: none;
  font-weight: 700;
}

.my-navbar-brand {
  outline: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #1E2188;
}

.highlight {
  color: #1E2188;
  font-weight: 700;
}
