<div class="header">
  <div class="container">
    <h1 class="my-navbar-brand scroll-top" routerLink="" style="cursor: pointer">
      Felix Hotel & Casino</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" *ngFor="let link of links; let i = index" (click)="openLink(link, i)">
<!--          <li class="nav-item" *ngFor="let link of links; let i = index" routerLink="{{link.toLowerCase()}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--            <a class="nav-link" [ngClass]="{highlight: i === selectedIndex}">{{link}}</a>-->
            <span class="nav-link" [ngClass]="{highlight: i === selectedIndex}">{{link}}</span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
