.active {
  outline: none;
  box-shadow: none;
  font-weight: 700;
}

.my-navbar-brand {
  outline: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #383838;
}

.highlight {
  color: #383838;
  font-weight: 700;
}

.dropdown-item {
  font-size: 1.25rem;
}

.dropdown-menu.show {
  border: none;
  box-shadow: none;
  background-color: white;
}
