<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 logo">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      <div class="col-md-4 info">
        <p><em><span style="font-size: 1.5rem; color: #58B531; font-weight: bold">RESERVATIONS</span><br>+855 44 945 045 | reservations@felixhotelcasino.com<br>Address: National Road No1. Bavet Commune, Chantrea Dist.,<br>Svay Rieng Province, Cambodia.</em></p>
<!--        <p>Copyright &copy; 2021 Felix Hotel & Casino</p>-->
      </div>
      <div class="col-md-4">
        <ul class="social-icons">
          <li><a rel="nofollow"><i class="fa fa-facebook"></i></a></li>
          <li><a><i class="fa fa-twitter"></i></a></li>
<!--          <li><a><i class="fa fa-linkedin"></i></a></li>-->
<!--          <li><a><i class="fa fa-rss"></i></a></li>-->
<!--          <li><a><i class="fa fa-dribbble"></i></a></li>-->
        </ul>
<!--        <p>Developed by: Thanh Minh</p>-->
      </div>
    </div>
  </div>
</footer>

