<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 logo">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      <div class="col-md-4 info">
        <p><em><span style="font-size: 1.5rem; color: #58B531; font-weight: bold">{{ 'RESERVATION_INFO.TITLE' | translate }}</span><br><span style="font-size: 1.25rem">+855 44 945 045 | reservations@felixhotelcasino.info<br>Address: National Road No1. Bavet Commune, Chantrea Dist.,<br>Svay Rieng Province, Cambodia.</span></em></p>
<!--        <p>Copyright &copy; 2021 Felix Hotel & Casino</p>-->
        <p style="text-align: center; font-size: 1.1rem; font-weight: 200; color: lightgrey; cursor: pointer" (click)="sendTo()">{{ 'FOOTER.DEVELOPED' | translate }}: Thanh Minh</p>
      </div>
      <div class="col-md-4">
        <ul class="social-icons">
          <li><a rel="nofollow">
            <i class="fab fa-facebook"></i>
          </a></li>
          <li><a>
            <i class="fab fa-twitter"></i>
          </a></li>
<!--          <li><a><i class="fa fa-linkedin"></i></a></li>-->
<!--          <li><a><i class="fa fa-rss"></i></a></li>-->
<!--          <li><a><i class="fa fa-dribbble"></i></a></li>-->
        </ul>
      </div>
    </div>
  </div>
</footer>

