<section class="rooms" *ngFor="let rooms of roomLists; let i = index">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="heading">
        <h2>{{ roomCategories[i].title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let room of rooms">
        <div class="room-item" (click)="viewDetail(room, rooms)">
          <h2> {{ room.title }} </h2>
          <img src="{{ room.imagePaths[0]}}" alt="">
          <div class="price">{{ room.ratesFrom | currency: 'USD': true: '.0'}}</div>
          <div class="text-content" style="text-align: center">
            <!--            <h4>Kale Chips Art Party</h4>-->
            <p>{{ room.desc }}</p>
            <button class="btn btn-primary" style="font-size: 1.2rem">View Detail</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
