<section class="contact-us">
  <div class="container">
    <form [formGroup]="roomFormGroup" (ngSubmit)="onPostRoom()">
      <h1>CREATE ROOM</h1>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="title">NAME</label>
          <input type="text"  formControlName="title" class="form-control" id="title" placeholder="Room name">

          <div class="row">
            <div class="col-md-6">
              <label for="beds">BEDS</label>
              <input type="text" formControlName="beds" class="form-control" id="beds" placeholder="Number of beds">
            </div>
            <div class="col-md-6">
              <label for="occupancy">OCCUPANCY</label>
              <input type="text" formControlName="occupancy" class="form-control" id="occupancy" placeholder="Number of persons">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="size">SIZE</label>
              <input type="text" formControlName="size" class="form-control" id="size" placeholder="sqm">
            </div>
            <div class="col-md-6">
              <label for="view">VIEW</label>
              <input type="text" formControlName="view" class="form-control" id="view" placeholder="Room view">
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="file">SELECT PHOTO</label>
          <input type="file" (change)="fileProgress($event)" class="form-control-file" id="file">
          <img class="img-thumbnail" style="width: 196px" src="{{ imagePath }}" alt="">
        </div>
      </div>
      <div class="form-group">
        <label for="ratesFrom">RATE FROM</label>
        <input type="text" formControlName="ratesFrom" class="form-control" id="ratesFrom" placeholder="Room rate">
      </div>
      <div class="form-group">
        <label for="desc">DESCRIPTION</label>
        <textarea formControlName="desc" class="form-control" id="desc" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
  </div>
</section>
