<section class="page-heading">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-md-12">
        <h1>Contact Us</h1>
        <p>Whatever drinking vinegar hella fingerstache shoreditch kickstarter kitsch. La croix hella iceland flexitarian letterpress.</p>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="contact-us">
    <div class="container">
      <div class="row" style="justify-content: center">
        <div class="col-md-6">
          <div class="section-heading">
            <h2>Message</h2>
          </div>
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                </fieldset>
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                </fieldset>
                <fieldset>
                  <input name="phone" type="text" class="form-control" id="phone" placeholder="Your phone..." required="">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                </fieldset>
                <fieldset>
                  <button type="submit" id="form-submit" class="btn">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="section-heading contact-info">
            <h2>Contact Info</h2>
            <p>Felix Hotel & Casino is located in Vietnam-Cambodia border, in Bavet City and is the only Casino in Bavet with high end resort style facilities and amenities. In addition, Felix Hotel & Casino features 100 gaming tables, 150 gaming machines, 15 online games and live band entertainment for our casino guests. For guests who want to enjoy the best cuisines and entertainment, Felix has an array of restaurants and KTV rooms to choose from. Souvenir items and deli goods are also available in our Duty Free Shops.
              <br><br><em>National Road No1. Bavet Commune, Chantrea Dist.,
                <br>Svay Rieng Province, Cambodia.</em>
              <br><em>Phone: +855 44 945 045</em>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="map">
    <div class="container">
      <div class="row" style="justify-content: center">
        <div class="col-md-12">
          <div id="map">
            <!-- How to change your own map point
                1. Go to Google Maps
                2. Click on your location point
                3. Click "Share" and choose "Embed map" tab
                4. Copy only URL and paste it within the src="" field below
            -->
            <iframe
              width="100%"
              height="500px"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfPSDr72ypWUyux35-BWrEHEuz6l4QqQA
    &q=SFelix+-+Hotel+%26+Casino" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

