<div class="container">
  <div class="row" style="justify-content: center">
    <div class="heading">
      <a routerLink="/rooms"><h2 style="cursor: pointer">Our Rooms</h2></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let room of rooms">
      <div class="food-item">
        <h2>{{ room.title }}</h2>
        <img src="{{ room.imagePaths[0] }}" alt="">
        <div class="price">{{ room.ratesFrom | currency: 'USD': true: '.0'}}</div>
        <div class="text-content">
<!--          <h4>Kale Chips Art Party</h4>-->
          <p>{{ room.desc.slice(0, 96) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
