<div class="container">
  <div class="row" style="justify-content: center">
    <div class="heading">
      <a routerLink="/rooms"><h2 style="cursor: pointer">Our Rooms</h2></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let room of rooms">
      <div class="food-item" (click)="viewDetail(room, rooms)" style="cursor: pointer">
        <h2>{{ room.title }}</h2>
        <img src="{{ room.imagePaths[0] }}" alt="">
<!--        <div class="price">{{ room.ratesFrom | currency: 'USD': true: '.0'}}</div>-->
        <div class="text-content">
<!--          <h4>Kale Chips Art Party</h4>-->
<!--          <p>{{ room.desc.slice(0, 96) }}</p>-->
          <ul class="list-group list-group-flush room-info">
            <li class="list-group-item room-feature">BEDS <span style="float: right">{{ room.beds }} bed(s)</span></li>
            <li class="list-group-item room-feature">SIZE <span style="float: right">{{ room.size }} sqm</span></li>
            <li class="list-group-item room-feature">RATES FROM <span style="float: right">{{ room.ratesFrom | currency: 'USD': true: '.0' }}</span></li>
          </ul>
          <button class="btn btn-success" style="font-size: 1.3rem; margin-top: 8px">View Detail</button>
        </div>
      </div>
    </div>
  </div>
</div>
