<section class="room-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5 mb-5">
        <h1 style="text-transform: uppercase; font-weight: bolder">{{ selectedRoom.title }}</h1>
        <div class="row">
          <div class="col-md-7">
<!--            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan.</h3>-->
            <p>{{ selectedRoom.desc }}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item room-feature">BEDS <span style="float: right">{{ selectedRoom.beds }} bed(s)</span></li>
              <li class="list-group-item room-feature">OCCUPANCY <span style="float: right">{{ selectedRoom.occupancy }} Persons</span></li>
              <li class="list-group-item room-feature">SIZE <span style="float: right">{{ selectedRoom.size }} sqm</span></li>
              <li class="list-group-item room-feature">VIEW <span style="float: right">{{ selectedRoom.view }}</span></li>
              <li class="list-group-item room-feature">RATES FROM <span style="float: right">{{ selectedRoom.ratesFrom | currency: 'USD': true: '.0' }}</span></li>
            </ul>
            <button class="btn btn-success" style="font-size: 1.25rem; float: right; margin: 16px auto" (click)="bookNow()">Book Now</button>
          </div>
          <div class="col-md-5">
            <img class="img-thumbnail" src="{{ selectedRoom.imagePaths[0] }}" alt="" @fadeSlideInOut>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <a><h2 class="heading-text">More Rooms</h2></a>
        </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let room of filteredRooms">
            <div class="food-item" (click)="viewDetail(room)" style="cursor: pointer">
              <h2>{{ room.title }}</h2>
              <img class="img-thumbnail" src="{{ room.imagePaths[0] }}" alt="" @fadeSlideInOut>
<!--              <div class="price">{{ room.ratesFrom | currency: 'USD': true: '.0'}}</div>-->
              <div class="text-content">
                <!--          <h4>Kale Chips Art Party</h4>-->
<!--                <p>{{ room.desc.slice(0, 96) }}</p>-->
                <ul class="list-group list-group-flush room-info">
                  <li class="list-group-item room-feature">BEDS <span style="float: right">{{ room.beds }} bed(s)</span></li>
                  <li class="list-group-item room-feature">SIZE <span style="float: right">{{ room.size }} sqm</span></li>
                  <li class="list-group-item room-feature">RATES FROM <span style="float: right">{{ room.ratesFrom | currency: 'USD': true: '.0' }}</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>
