<section class="contact-us">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/room.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Guest Rooms</h2>
          <p style="font-size: 1.5rem; text-align: justify">As a guest in Felix Hotel & Casino, you can experience comfort and elegance in every guest room. Each delicately designed room include on King or two Double beds, chair and a spacious writing desk and complete bathroom amenities. Guest can stay in touch with our IDD service and high-speed internet service in all our hotel rooms. Additionally, each of the guest room includes television with Cable TV, mini bar, coffee maker and hair dryer.</p>
          </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/guest_room.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Suites</h2>
          <p style="font-size: 1.5rem; text-align: justify">For guests seeking ultimate comfort, space and luxury, Felix Hotel & Casino features 23 suites including our Sun Suites, Presidential Suites and King Suites with a view of the Bavet City.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/work.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Accommodations Offer</h2>
          <ul style="list-style-type: circle; margin-left: 32px; font-size: 1.5rem">
            <li>Free internet access</li>
            <li>Electronic door lock</li>
            <li>In-room safety deposit box</li>
            <li>In-room coffee maker</li>
            <li>Mini bar</li>
            <li>Work desk</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/conference_room.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>For Your Business Convenience</h2>
          <ul style="list-style-type: circle; margin-left: 32px; font-size: 1.5rem">
            <li>Business Center</li>
            <li>Fax</li>
            <li>Photocopying service</li>
            <li>Internet Service</li>
            <li>Meeting/Conference Rooms</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/orien.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Orien Restaurant</h2>
          <p style="font-size: 1.5rem; text-align: justify">Orien is our full service restaurant offering Japanese, Korean, Chinese, and Vietnamese cuisines. It offers the fresh seafood and sushi hand-crafted by our executive sushi chef at the sushi bar. In addtion, Orien offers 3 private dining rooms for entertaining your clients or celebrating with friends.<br> Open hour: 10 AM - 01 AM.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/ktv.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>KTV</h2>
          <p style="font-size: 1.5rem; text-align: justify">Sing your heart out with our state of the art Karaoke facilities at the 8th Floor</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/massage.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Massage</h2>
          <p style="font-size: 1.5rem; text-align: justify">Traditional Vietnamese and Thai massage services</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="map">
  <div class="container">
    <h1>GALLERY</h1>
    <div class="row" style="justify-content: center">
      <div class="col-md-12">
        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
      </div>
    </div>
  </div>
</section>
