<section class="page-heading">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-md-12">
        <h1>About Us</h1>
<!--        <p>Whatever drinking vinegar hella fingerstache shoreditch kickstarter kitsch. La croix hella iceland flexitarian letterpress.</p>-->
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="contact-us">
    <div class="container">
      <div class="row" style="justify-content: center">
        <div class="col-md-4">
          <img class="img-thumbnail" src="../../../assets/img/slide01.jpg" alt="" @fadeSlideInOut>
        </div>
        <div class="col-md-8">
          <div class="section-heading contact-info">
            <h2>Introduction</h2>
            <p>Felix Hotel & Casino welcomes you to the Kingdom of Cambodia.</p>
            <p>Felix is located in Bavet City, near the Cambodia-Vietnam border. Felix Hotel & Casino is a high quality entertainment and accommodation facility catering to local and international tourists.</p>
            <p>We offers superior quality accommodation with a range of options from standard and deluxe rooms to deluxe and presidential suites. <span style="font-weight: 500">All room offer high-speed Internet connection, cable TV and other features.</span></p>
          </div>
        </div>
      </div>
      <div class="row; m-2 mt-4">
        <p>Felix Hotel & Casino boasts a range of fine dining options prepared by our <span style="font-weight: 500">International chefs including Vietnamese, Korean, Japanese and Chinese</span>. Our 8th floor "Sky Park" bar offers sweeping views of the Bavet area. Gamers in our main hall can enjoy our complimentary 24/7 buffet and soup station.</p>
        <p>We offers entertainment and leisure facilities including <span style="font-weight: 500">hi-tech private Karaoke rooms, dedicated body & foot massage service, conference & meeting rooms, and duty free shopping</span>. Our free shuttle bus offers transport around Bavet area.</p>
        <p>Felix Hotel & Casino offers more than <span style="font-weight: 500">70 game tables, 150 game machines and 10 Internet online games</span>. Our main gaming hall presents a daily lucky draw and live entertainment for our guest enjoyment. Fully serviced VIP & VVIP gaming rooms with dedicated staff are available for high-rolling players.</p>
        <p style="font-weight: 500; font-style: italic">We look forward to serving you!</p>
      </div>
    </div>
  </section>

  <section class="map">
      <div class="row" style="justify-content: center">
        <div class="col-md-12">
          <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
        </div>
    </div>
  </section>
</div>
