<section class="page-heading">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-md-12">
        <h1>About Us</h1>
        <p>Whatever drinking vinegar hella fingerstache shoreditch kickstarter kitsch. La croix hella iceland flexitarian letterpress.</p>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="contact-us">
    <div class="container">
      <div class="row" style="justify-content: center">
        <div class="col-md-6">
          <img class="img-thumbnail" src="../../../assets/img/reception.jpg" alt="">
        </div>
        <div class="col-md-6">
          <div class="section-heading contact-info">
            <h2>Introduction</h2>
            <p>Felix Hotel & Casino is located in Vietnam-Cambodia border, in Bavet City and is the only Casino in Bavet with high end resort style facilities and amenities. In addition, Felix Hotel & Casino features 100 gaming tables, 150 gaming machines, 15 online games and live band entertainment for our casino guests. For guests who want to enjoy the best cuisines and entertainment, Felix has an array of restaurants and KTV rooms to choose from. Souvenir items and deli goods are also available in our Duty Free Shops.<br><br><em>National Road No1. Bavet Commune, Chantrea Dist., <br>Svay Rieng Province, Cambodia.</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="map">
    <div class="container">
      <div class="row" style="justify-content: center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let imgPath of slidePaths;">
              <img class="d-block w-100 img-thumbnail" src="{{this.slidePaths[index]}}" alt="">
            </div>
          </div>
          <a class="carousel-control-prev" (click)="previous()" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" (click)="next()" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
