<section class="contact-us">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/sld00.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Main Hall</h2>
          <p>Felix Hotel & Casino is located in Vietnam-Cambodia border, in Bavet City and is the only Casino in Bavet with high end resort style facilities and amenities. In addition, Felix Hotel & Casino features 100 gaming tables, 150 gaming machines, 15 online games and live band entertainment for our casino guests. For guests who want to enjoy the best cuisines and entertainment, Felix has an array of restaurants and KTV rooms to choose from. Souvenir items and deli goods are also available in our Duty Free Shops.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/sld08.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Bar</h2>
          <p>Felix Hotel & Casino is located in Vietnam-Cambodia border, in Bavet City and is the only Casino in Bavet with high end resort style facilities and amenities. In addition, Felix Hotel & Casino features 100 gaming tables, 150 gaming machines, 15 online games and live band entertainment for our casino guests. For guests who want to enjoy the best cuisines and entertainment, Felix has an array of restaurants and KTV rooms to choose from. Souvenir items and deli goods are also available in our Duty Free Shops.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/sld03.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Vip Area</h2>
          <p>Felix Hotel & Casino is located in Vietnam-Cambodia border, in Bavet City and is the only Casino in Bavet with high end resort style facilities and amenities. In addition, Felix Hotel & Casino features 100 gaming tables, 150 gaming machines, 15 online games and live band entertainment for our casino guests. For guests who want to enjoy the best cuisines and entertainment, Felix has an array of restaurants and KTV rooms to choose from. Souvenir items and deli goods are also available in our Duty Free Shops.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/sld06.jpg" alt="">
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Machine Games</h2>
          <p>Felix Hotel & Casino is located in Vietnam-Cambodia border, in Bavet City and is the only Casino in Bavet with high end resort style facilities and amenities. In addition, Felix Hotel & Casino features 100 gaming tables, 150 gaming machines, 15 online games and live band entertainment for our casino guests. For guests who want to enjoy the best cuisines and entertainment, Felix has an array of restaurants and KTV rooms to choose from. Souvenir items and deli goods are also available in our Duty Free Shops.</p>
        </div>
      </div>
    </div>
  </div>
</section>
