<section class="contact-us">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/sld00.jpg" alt="" @fadeSlideInOut>
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Main Hall</h2>
          <p>Felix Hotel & Casino features 100 gaming tables, 150 gaming machines, 15 online games and live band entertainment for our casino guests. For guests who want to enjoy the best cuisines and entertainment, Felix has an array of restaurants and KTV rooms to choose from. Souvenir items and deli goods are also available in our Duty Free Shops.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/table_game.jpg" alt="" @fadeSlideInOut>
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Table Games</h2>
          <div class="row">
            <div class="col-md-6">
              <ul style="list-style-type: circle; margin-left: 32px; font-size: 1.5rem">
                <li>BACCARAT</li>
                <li>BLACKJACK</li>
                <li>ROULETTE</li>
                <li>CASINO WAR</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul style="list-style-type: circle; margin-left: 32px; font-size: 1.5rem">
                <li>TAI SAI</li>
                <li>SLOT MACHINE</li>
                <li>ELECTRONIC TABLE GAME</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/machine_game.jpg" alt="" @fadeSlideInOut>
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>MACHINE GAMES</h2>
          <p>Latest slot machines complete the gaming experience of our customers.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/vip_rooms.jpg" alt="" @fadeSlideInOut>
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>VIP GAMING ROOMS</h2>
          <p>Our luxurious VIP 1, VIP 2 gaming rooms at the ground floor for your best convenience and comfortable.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="justify-content: center">
      <div class="col-md-5">
        <img class="img-thumbnail" src="../../../assets/img/sld03.jpg" alt="" @fadeSlideInOut>
      </div>
      <div class="col-md-7">
        <div class="section-heading contact-info">
          <h2>Vip Area</h2>
          <p>Take the gaming experience to the next level with our luxurious VIP gaming rooms at the 8th floor.</p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>
<section class="map">
  <div class="container">
    <h1>GALLERY</h1>
    <div class="row" style="justify-content: center">
      <div class="col-md-12">
        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
      </div>
    </div>
  </div>
</section>
