<div class="header">
  <app-header></app-header>
  <!--/.container-->
</div>
<!--/.header-->

<section class="banner">
  <app-banner></app-banner>
</section>

<section class="cook-delecious">
  <app-cook-delecious></app-cook-delecious>
</section>

<section class="services">
  <app-services></app-services>
</section>

<section id="book-table">
  <app-book-table></app-book-table>
</section>

<section class="get-app">
  <app-get-app></app-get-app>
</section>

<section class="featured-food">
  <app-featured-food></app-featured-food>
</section>

<section class="our-blog">
  <app-our-blog></app-our-blog>
</section>

<section class="sign-up">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>Signup for our newsletters</h2>
        </div>
      </div>
    </div>
    <form id="contact" action="" method="get">
      <div class="row">
        <div class="col-md-4 col-md-offset-3">
          <fieldset>
            <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." required="">
          </fieldset>
        </div>
        <div class="col-md-2">
          <fieldset>
            <button type="submit" id="form-submit" class="btn">Send Message</button>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>Copyright &copy; 2020 Victory Template</p>
      </div>
      <div class="col-md-4">
        <ul class="social-icons">
          <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>Design: TemplateMo</p>
      </div>
    </div>
  </div>
</footer>
