<div>
  <h1>Rooms List</h1>
</div>
<div *ngFor="let rooms of roomLists; let i = index">
  <div style="text-align: center; display: block; background-color: rgba(0, 0, 0, 0.25); height: 64px;">
    <h3 style="padding-top: 16px; font-weight: bolder">{{ roomCategories[i].title }}
    <span><button (click)="addRoom(rooms[i], roomLists[i][0].roomCateID, roomCategories[i])" class="btn btn-primary" style="font-size: 1rem; width: 64px; float: right;">Add Room</button></span>
    </h3>
  </div>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ROOM NAME</th>
      <th scope="col">BEDS</th>
      <th scope="col">RATE FROM</th>
      <th scope="col">EDIT/DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of rooms; let i = index">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ room.title }}</td>
      <td>{{ room.beds }}</td>
      <td>{{ room.ratesFrom | currency: 'USD': true: '.0' }}</td>
      <td>
        <i class="fas fa-edit edit-icon mr-4" (click)="edit(room)"></i>
        <i class="fas fa-trash-alt delete-icon" (click)="delete(room)"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
