<div class="container">
  <div class="row" style="justify-content: center">
    <div class="col-md-3 col-md-offset-1">
      <div class="first-image">
        <img src="./assets/img/orien.jpg" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <div class="cook-content">
        <h4>Our Services</h4>
        <div class="contact-content">
          <span>You can call us on:</span>
          <h6>+855 44 945 045</h6>
        </div>
        <span>or</span>
        <div class="primary-white-button">
          <a class="btn-link" data-id="book-table">LET'S ORDER</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="second-image">
        <img src="./assets/img/service2.jpg" alt="">
      </div>
    </div>
  </div>
</div>
