<section class="banner">
  <app-banner></app-banner>
</section>

<section class="cook-delecious">
  <app-cook-delecious></app-cook-delecious>
</section>

<section class="services">
  <app-services></app-services>
</section>

<section id="book-table">
  <app-book-table></app-book-table>
</section>

<section class="get-app">
  <app-get-app></app-get-app>
</section>

<section class="featured-food">
  <app-featured-food></app-featured-food>
</section>

<section class="our-blog">
  <app-our-blog></app-our-blog>
</section>

<section class="sign-up">
  <app-sign-up></app-sign-up>
</section>
