<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/cook_breakfast.png" alt="Breakfast">
          <h4>Smogas</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/cook_lunch.png" alt="Lunch">
          <h4>Oriental</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/cook_dinner.png" alt="Dinner">
          <h4>Bar</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/cook_dessert.png" alt="Desserts">
          <h4>KTV</h4>
        </a>
      </div>
    </div>
  </div>
</div>
