<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/item5.jpg" alt="Breakfast">
          <h4>{{ 'SERVICES_TITLE.FIRST' | translate }}</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/item2.jpg" alt="Lunch">
          <h4>{{ 'SERVICES_TITLE.SECOND' | translate }}</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/item3.jpg" alt="Dinner">
          <h4>{{ 'SERVICES_TITLE.THIRD' | translate }}</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/item4.jpg" alt="Desserts">
          <h4>{{ 'SERVICES_TITLE.FORTH' | translate }}</h4>
        </a>
      </div>
    </div>
  </div>
</div>
