<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/item5.jpg" alt="Breakfast">
          <h4>Restaurant</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/item2.jpg" alt="Lunch">
          <h4>Table Games</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/item3.jpg" alt="Dinner">
          <h4>Machine Games</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item">
        <a>
          <img src="./assets/img/item4.jpg" alt="Desserts">
          <h4>KTV & Massage</h4>
        </a>
      </div>
    </div>
  </div>
</div>
