<section class="room-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-4 mb-4">
        <h1>Standard Room</h1>
        <div class="row">
          <div class="col-md-7">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item room-feature">BEDS <span style="float: right">1 Double Bed</span></li>
              <li class="list-group-item room-feature">OCCUPANCY <span style="float: right">2 Persons</span></li>
              <li class="list-group-item room-feature">SIZE <span style="float: right">40 sqm</span></li>
              <li class="list-group-item room-feature">VIEW <span style="float: right">Porto Bay</span></li>
              <li class="list-group-item room-feature">RATES FROM <span style="float: right">USD 199</span></li>
            </ul>
            <button class="btn btn-success" style="font-size: 1.25rem; float: right; margin: 16px auto">Book Now</button>
          </div>
          <div class="col-md-5">
            <img class="img-thumbnail" src="../../../../assets/img/std04.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-4 mb-4">
        <app-featured-food></app-featured-food>
      </div>
    </div>
  </div>
</section>
