<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="heading">
        <a routerLink="/events"><h2>Our Events</h2></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let event of events">
      <div class="blog-post" style="cursor: pointer" (click)="viewDetail(event)">
        <img src="{{ event.imagePath }}" alt="">
        <div class="right-content">
          <h4>{{ event.title }}</h4>
          <span>Period: {{ event?.dateStart }} ~ {{ event?.dateEnd }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
