<div class="container">
  <div class="row" style="justify-content: center">
    <div class="col-md-12">
      <div class="heading">
        <h2>Make a Reservation</h2>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-2 col-sm-12">
      <div class="left-image">
        <img src="./assets/img/reservation.jpg" alt="">
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="right-info">
        <h4>Reservation</h4>
        <form>
          <div class="form-row">
            <input type="datetime-local" class="form-control">
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-12">
              <input type="text" class="form-control" placeholder="Full name">
            </div>
            <div class="col-md-6 col-sm-12">
              <input type="text" class="form-control" placeholder="Phone number">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <select class="form-control">
                <option selected>Number of person...</option>
                <option>1 Person</option>
                <option>2 Persons</option>
                <option>3 Persons</option>
                <option>4 Persons</option>
                <option>Above</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <button type="submit" class="btn btn-success">Book Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
